*{
    box-sizing: border-box;
}

  .box1 {
    float: left;
    width: 60%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 50px; /* if you want space between the images */
  }

  .box2,.box3,.box4 {
    float: right;
    width: 30%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 20px; /* if you want space between the images */
    
  }

  img{
    clip-path: circle(47.8% at 50% 50%);
    border:2px solid white ;
    size: 40%;
    
  }
 
  
h1 {
    text-align: center;
    text-decoration: underline;
    border-top: 2px solid rgb(243, 239, 237);
}

body{
    font-family:monospace;
    margin: 20px 40px;
    font-size: 17px;
    padding: 10px;
    color: white;
}

.contact{
    background-attachment: fixed;
    background-image: url(img/bgcontact.jpg);
    height: 1000px;
    width: 1000px;
    background-size: 300mm;
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    padding: 5px 20px 15px 20px;
    border:solid rgba(241, 234, 231, 0.507);


}
input[type="text"],input[type="email"],
textarea{
    width: 100%;
    padding: 13px;
    border: 2px solid rgba(250, 247, 246, 0.836);
    margin: 5px;
}
input[type="submit"]
{
    padding: 12px 20px   ;
    background-color: rgba(255, 255, 255, 0.466);
    border: none;
    border-radius: 8px;
    cursor:pointer;
    width: 100%;

}
input[type="submit"]:hover{
    color: red ;
    background-color: rgba(245, 177, 177, 0.568);
}
input[type="checkbox"]
{
    
    border: none;
    border-radius: 8px;
}
fieldset{
    background-color: rgba(255, 255, 255, 0.274);
    padding: 5px 20px 15px 20px;
    
}

  a{
      color:white;
      text-decoration: none;
  }  
a:hover{
color: red;
background-color: rgb(233, 217, 187);

}

/* Add a black background color to the top navigation */
.topnav {
  border-radius: 20px;
  background-color: rgba(51, 51, 51, 0.39);
  width:80% ;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
overflow: hidden;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(235, 144, 116);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0468aa;
  color: rgb(243, 236, 236);
}

body{
  font-family: 'Kalam', cursive;
 
}
h2{
  text-decoration: underline;
}
